#directories
*/**/.vscode/
*/**/dist/
*/**/build/
*/**/node_modules/
*/**/logs/
*/**/bin/
*/**/obj/
*/**/target/
*/**/.meteor

#files
*/**/TODO
*/**/todo
*/**/.DS_Store
*/**/*.class
*/**/.env
*/**/*.log
*/**/*.sdf
*/**/*.tlog
*/**/*.obj
*/**/*.ilk
*/**/*.lastbuildstate
*/**/*.pdb
*/**/*.pch
*/**/*.user
*/**/*.unsuccessfulbuild
*/**/*.sdf
*/**/*.opensdf
*/**/*.idb
*/**/*.ipch
*/**/.DS_Store
*/**/*.db
*/**/META-INF
